* {
    padding: 0;
    margin: 0;
}

.banner {
    display: flex;
    height: 64px;
    width: 100%;
    background: linear-gradient(to right, var(--purple-light), var(--purple-dark));
    align-items: center;
    justify-content: space-between;
}

.banner .banner-left {
    display: flex;
    align-items: center;
}

.banner img {
    width: 50px;
    height: 50px;
}

.banner .navi-buttons {
    margin-left: 30px;
}

.banner .navi-buttons .navi-btn {
    margin-right: 30px;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.banner .navi-btn a {
    color: white;
    text-decoration: none;
}

.navi-buttons .navi-btn a:hover {
    color: rgb(201, 201, 201);
    cursor: pointer;
}

.banner .navi-buttons .selected {
    color: rgb(0, 84, 152);
}

.banner .navi-buttons .selected:hover {
    color: rgb(5, 94, 167);
}

.banner .login {
    width: 60px;
    height: 35px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 30px;
    background-color: rgb(125, 136, 218);
    border: none;
    color: white;
    font-weight: 600;
}

.banner .login:hover {
    background-color: rgb(147, 156, 225);
    cursor: pointer;
}