* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

ul,
li {
    list-style: none;
}

/* Pre-defined color*/
:root {
    --purple-light: rgb(125, 136, 218);
    --purple-dark: rgb(84, 59, 142);
}


/* Content Section */
.content {
    width: 80%;
    margin: 0 auto;

}

.content .uni-name {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
}

.course-container .major-name {
    padding-bottom: 5px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: 500;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;

}

/* Responsive display number of courses */
@media (max-width: 1024px) {
    .course-list {
        /* 2 courses per row */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .course-list {
        /* 1 course per row */
        grid-template-columns: 1fr;
    }
}

.course {
    height: 230px;
    padding: 15px;
    border: 2px solid rgb(189, 187, 187);
    margin-top: 10px;
    border-radius: 5px;
}

.course .course-name {
    font-size: 18px;
    font-weight: 600;
    height: 42px;
    overflow: hidden;
}

.course-container .course-description {
    height: 145px;
    overflow: scroll;
    margin-top: 5px;
    padding-right: 5px;
}

.course-container .course-description::-webkit-scrollbar {
    width: 5px;
}

.course-container .course-description::-webkit-scrollbar-thumb {
    background-color: rgb(190, 190, 188);
    border-radius: 18px;
}

.course-container .course-description::-webkit-scrollbar-track {
    background-color: transparent;
}


.course .view-detail-btn {
    margin: 2px 0 0 5px;
    padding: 8px;
    color: white;
    background-color: var(--purple-dark);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.course .view-detail-btn:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}