body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
    list-style: none;
}

/* Course-detail Section */
.Course-detail-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Course-detail-content .course-name {
    color: var(--purple-dark);
    text-align: center;
    padding: 20px;
}

/* Grade bar chart section */
.Course-detail-content .grade-distribution {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Course-detail-content .grade-distribution canvas {
    width: 100% !important;
    height: auto !important;
}


/* Course comment section */
.course-comment {
    margin-top: 30px;
    padding: 10px;
    max-width: 700px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Post Comment button */
.course-comment .post-comment {
    background-color: var(--purple-dark);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    width: 120px;
}

.course-comment .post-comment:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

/* Styles for the comment container */
.course-comment .comment {
    display: flex;
    min-height: 100px;
    max-width: 700px;
    margin-top: 15px;

}

.course-comment .comment img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.course-comment .comment .comment-info {
    margin-left: 5px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.course-comment .comment .comment-header {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    column-gap: 10px;
}

.grade {
    font-weight: 600;
}

.course-comment .comment-info .comment-text {
    padding: 5px;
    padding-bottom: 10px;
    min-height: 50px;
}

/* Back to Top button */
.to-top {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(84, 59, 142, 0.7);
    color: white;
    border-radius: 10px;

    padding: 10px;
    text-decoration: none;
    text-align: center;
}

/* Form container styling */
.form-container {
    display: none;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Input, select, and textarea styling */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

/* Textarea resizing */
textarea {
    resize: vertical;
}

/* Submit button styling */
input[type="submit"] {
    width: 60%;
    background-color: var(--purple-dark);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--purple-light);
}